.berita {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.berita-left {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 100px 100px;
    gap: 25px;
}

.berita-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.berita-item-image {
    width: 300px;
    height: auto;
}

.berita-item-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.berita-item-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.berita-right {
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 50px 100px 100px 0px;
    gap: 25px;
}

.berita-right-item {
    display: flex;
    flex-direction: column;
}

.berita-right-item-image img {
    width: 100%;
    max-width: 500px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.berita-right-item-content {
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .berita {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .berita-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 25px;
    }

    .berita-item {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .berita-item-image {
        width: 100%;
        height: auto;
    }

    .berita-item-image img {
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    .berita-item-content {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
    }

    .berita-right {
        width: 100%;
        padding: 20px;
    }

    .berita-right h1 {
        font-size: 25px;
    }
}