.e-katalog-head {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero-bg.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 100px 100px 150px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
