.e-katalog-content {
    padding: 50px 100px 100px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.e-katalog-content a {
    text-decoration: none;
    color: #04293B;
}

.katalog-card {
    padding: 50px;
    text-align: center;
    border: 1px solid #04293B;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.katalog-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.katalog-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.katalog-card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.katalog-card p {
    font-size: 16px;
}

.katalog-card .container {
    padding: 0 10px;
}

.search-katalog {
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
}

.search-box {
    position: relative;
    width: 100%;
}

.search-box input {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 10px 40px 10px 15px;
    border-radius: 7px;
    border: 1px solid #04293B;
}

.search-box i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}


@media (max-width: 768px) {
    .e-katalog-content {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        gap: 20px;
    }

    .katalog-card {
        padding: 20px;
    }

    .katalog-card img {
        height: 100px;
    }

    .katalog-card h4 {
        font-size: 15px;
    }

    .katalog-card p {
        font-size: 14px;
    }

    .search-katalog {
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
    }

}