@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* ================== GLOBAL ACCENT ================== */
.yellow-accent {
    width: 100px;
    height: 10px;
    background: #FFD400;
    border-radius: 999px;
    margin: 0 auto 35px;
}

.green-accent {
    width: 100px;
    height: 10px;
    background: #009944;
    border-radius: 999px;
    margin: 0 auto 35px;
}

/* ================== END GLOBAL ACCENT ================== */

/* ================== GLOBAL BUTTONS ================== */
.btn {
    display: inline-block;
    padding: 12px 30px;
    background: yellow;
    border: yellow 1px solid;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn-transparent {
    display: inline-block;
    padding: 12px 30px;
    background: transparent;
    color: #ffffff;
    text-decoration: none;
    border: #ffffff 1px solid;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-transparent:hover {
    transform: scale(1.05);
}

.buttons {
    display: flex;
    gap: 20px;
}

.social-icons {
    font-size: 30px;
    color: #04293B;
    text-decoration: none;
    transition: 0.3s;

    width: 55px;
    height: 55px;
    background: #ffffff;
    border-radius: 50%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-icons:hover {
    color: #FFD400;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .btn {
        padding: 8px 16px;
        font-size: 12px;
    }

    .btn-transparent {
        padding: 8px 16px;
        font-size: 12px;
    }

    .buttons {
        gap: 10px;
    }

    .social-icons {
        font-size: 16px;
        width: 40px;
        height: 40px;
    }
}

/* ================== END BUTTONS ================== */