@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* ================== GLOBAL ACCENT ================== */
.yellow-accent {
    width: 100px;
    height: 10px;
    background: #FFD400;
    border-radius: 999px;
    margin: 0 auto 35px;
}

.green-accent {
    width: 100px;
    height: 10px;
    background: #009944;
    border-radius: 999px;
    margin: 0 auto 35px;
}

/* ================== END GLOBAL ACCENT ================== */

/* ================== GLOBAL BUTTONS ================== */
.btn {
    display: inline-block;
    padding: 12px 30px;
    background: yellow;
    border: yellow 1px solid;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn-transparent {
    display: inline-block;
    padding: 12px 30px;
    background: transparent;
    color: #ffffff;
    text-decoration: none;
    border: #ffffff 1px solid;
    border-radius: 5px;
    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-transparent:hover {
    transform: scale(1.05);
}

.buttons {
    display: flex;
    gap: 20px;
}

.social-icons {
    font-size: 30px;
    color: #04293B;
    text-decoration: none;
    transition: 0.3s;

    width: 55px;
    height: 55px;
    background: #ffffff;
    border-radius: 50%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-icons:hover {
    color: #FFD400;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .btn {
        padding: 8px 16px;
        font-size: 12px;
    }

    .btn-transparent {
        padding: 8px 16px;
        font-size: 12px;
    }

    .buttons {
        gap: 10px;
    }

    .social-icons {
        font-size: 16px;
        width: 40px;
        height: 40px;
    }
}

/* ================== END BUTTONS ================== */

/* ================== HEADER ================== */
header {
    width: 100%;
    background-color: #04293B;
    color: white;
    padding: 15px 50px;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 25px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #FFD400;
    transform: scale(1.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo1 {
    width: 100px;
}

.logo2 {
    width: 150px;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
}

.buttons-mobile {
    display: none;
}

@media (max-width: 768px) {

    header {
        padding: 10px 50px;
    }

    nav {
        padding: 0;
    }

    .logo1 {
        width: 80px;
    }

    .logo2 {
        width: 120px;
    }

    .menu-toggle {
        display: block;
    }

    .menu {
        position: absolute;
        top: 100px;
        right: 20px;
        background-color: #04293B;
        display: none;
        flex-direction: column;
        gap: 15px;
        width: 180px;
        padding: 20px;
        border-radius: 8px;
    }

    .menu.show {
        display: flex;
    }

    .nav-link {
        font-size: 14px;
        margin: 0;
    }

    .buttons {
        display: none;
    }

    .buttons-mobile {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
}

/* ================== END HEADER ================== */

/* ================== FOOTER ================== */
footer {
    width: 100%;
    background-color: #ffffff;
    color: #04293B;
    text-align: center;
}

.footer-content {
    display: flex;
}

.footer-item {
    flex: 1;
    padding: 100px;
    text-align: left;
}

.footer-item h3 {
    font-size: 25px;
    margin-bottom: 12px;
}

.footer-item p {
    margin-bottom: 15px;
}

.footer-item-child {
    display: flex;
    margin-bottom: 15px;
}

.footer-item-child p {
    flex: 1;
}

.footer-logo {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}

.footer-logo1 {
    width: 120px;
}

.footer-logo2 {
    width: 200px;
}

.footer-bottom {
    background-color: #04293B;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-social a {
    font-size: 15px;
    text-decoration: none;
    color: #04293B;

}

.footer-social-icons {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    width: 35px;
    height: 35px;
    background: #04293B;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-item {
        padding: 50px 20px;
        text-align: left;
    }

    .footer-social {
        flex-direction: column;
        justify-content: center;
    }
}

/* ================== END FOOTER ================== */