/* ================== HEADER ================== */
header {
    width: 100%;
    background-color: #04293B;
    color: white;
    padding: 15px 100px;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 25px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #FFD400;
    transform: scale(1.1);
}

.nav-link.active {
    color: #FFD400 !important;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo1 {
    width: 100px;
}

.logo2 {
    width: 150px;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
}

.buttons-mobile {
    display: none;
}

@media (max-width: 768px) {

    header {
        padding: 10px 50px;
    }

    nav {
        padding: 0;
    }

    .logo1 {
        width: 80px;
    }

    .logo2 {
        width: 120px;
    }

    .menu-toggle {
        display: block;
    }

    .menu {
        position: absolute;
        top: 100px;
        right: 20px;
        background-color: #04293B;
        display: none;
        flex-direction: column;
        gap: 15px;
        width: 180px;
        padding: 20px;
        border-radius: 8px;
    }

    .menu.show {
        display: flex;
    }

    .nav-link {
        font-size: 14px;
        margin: 0;
    }

    .buttons {
        display: none;
    }

    .buttons-mobile {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
}

/* ================== END HEADER ================== */

/* ================== FOOTER ================== */
footer {
    width: 100%;
    background-color: #ffffff;
    color: #04293B;
    text-align: center;
}

.footer-content {
    display: flex;
}

.footer-item {
    flex: 1;
    padding: 100px;
    text-align: left;
}

.footer-item h3 {
    font-size: 25px;
    margin-bottom: 12px;
}

.footer-item p {
    margin-bottom: 15px;
}

.footer-item-child {
    display: flex;
    margin-bottom: 15px;
}

.footer-item-child p {
    flex: 1;
}

.footer-logo {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}

.footer-logo1 {
    width: 120px;
}

.footer-logo2 {
    width: 200px;
}

.footer-bottom {
    background-color: #04293B;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.footer-bottom a {
    color: white;
    text-decoration: none;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-social a {
    font-size: 15px;
    text-decoration: none;
    color: #04293B;

}

.footer-social-icons {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    width: 35px;
    height: 35px;
    background: #04293B;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

@media (max-width: 768px) {

    .footer-content {
        flex-direction: column;
    }

    .footer-item {
        padding: 50px;
        text-align: left;
    }

    .footer-social {
        flex-direction: column;
        justify-content: center;
    }
}

/* ================== END FOOTER ================== */